*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h1,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* =======================
        Typography
==========================*/


/* cta */
.cta { 
    background: black;
    color: white;
    padding: .5em .75em;
    border: 1px solid white;
}


/* =======================
        Layout
==========================*/
.container {
    display: grid;
    grid-template-columns: 2em 1fr 2em;

}

.container > * {
    grid-column: 2 / 3;
}



/* navbar */

.navbar { 
    padding-top: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list { 
    display: flex;
    justify-content: space-between;
}

.nav__link__logo { 
    width: 30px;
}

.navbar__list__li  + .navbar__list__li{
    margin-left: 1em;
}

/* hero */
.hero__text {
    display: grid;
    grid-gap: .85em;
}
